/**** 
HEADER section
****/

#header {
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: -webkit-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -moz-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -o-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -ms-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: linear-gradient(0deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  transition: all 0.25s ease;
}

#header .header-wrap {
  width: 100%;
  margin-left: 20vw;
  margin-right: 9vw;
}

/**** 
BLOG POSTS section
****/

#blog-posts {
  margin: 5vw 0;
  overflow: hidden;
}

#blog-posts .post {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15em;
}

#blog-posts .text-wrap {
  margin-right: 6em;
  margin-bottom: 4em;
  width: 40%;
}

#blog-posts .post .img-container img {
  max-width: 100%;
  height: auto;
}

#blog-posts .post a:nth-child(1) {
  text-decoration: none;
}




/****
MEDIA QUERIES
****/
@media screen and (max-width: 1200px) {
  #blog-posts .text-wrap {
    margin-right: 3em;
    margin-bottom: 4em;
    width: 60%;
  }
  
  #blog-posts .post {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #blog-posts .post .img-container {
    order: 0;
    width: 100%;
    margin-bottom: 1em;
  }
  
  #blog-posts .post .text-wrap {
    order: 1;
    width: 92%;
    margin-bottom: 2em;
    margin-right: 1em;
  }
}

@media screen and (max-width: 900px) {
  #header {
    height: 800px;
  }
  
  #header .header-wrap {
    margin-top: 6em;
    margin-left: 8.5vw;
    margin-right: 2em;
    margin-bottom: 4em;
  }
  
  #blog-posts .post {
    margin-bottom: 8em;
  }
  
  #blog-posts .post .body-copy {
    margin-bottom: .8em;
  }
  
  #blog-posts .post .btn {
    margin-top: 1em;
  }
}

@media screen and (max-width: 715px) {
  #header {
    height: 950px;
  }
  
  #header .header-wrap {
    margin-top: 13em;
  }
}

@media screen and (max-width: 600px) {
  #header {
    height: auto;
  }
  
  #header .header-wrap {
    margin-top: 7em;
    margin-left: 8.5vw;
  }
  
  #blog-posts .post {
    margin-bottom: 4em;
  }
  
  #blog-posts .post .body-copy {
    margin-bottom: .4em;
  }
  
  #blog-posts .post .btn {
    margin-top: .5em;
  }
}

@media screen and (max-width: 400px) {  

}

@media screen and (max-width: 350px) {

}