/**** 
HEADER section
****/

#header {
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: -webkit-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -moz-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -o-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -ms-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: linear-gradient(0deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  transition: all 0.25s ease;
}

#header .header-wrap {
  width: 100%;
  margin-left: 20vw;
  margin-top: 150px;
  margin-right: 9vw;
}

/**** 
FORM section
****/

#form {
  margin: 0 0 5vw;
}

#form .container {
  margin-left: calc(20vw - 1%);
}

.wufoo .info, .wufoo .paging-context {
  display: none;
}



/****
MEDIA QUERIES
****/
@media screen and (max-width: 1200px) {
  
}

@media screen and (max-width: 900px) {
  #header .header-wrap {
    margin-top: 6em;
    margin-left: 8.5vw;
    margin-right: 2em;
    margin-bottom: 4em;
  }
  
  #form .container {
    margin-left: 8.5vw;
  }
}

@media screen and (max-width: 715px) {
  #header .header-wrap {
    margin-top: 13em;
  }
}

@media screen and (max-width: 600px) {
  #header {
    height: auto;
  }
  
  #header .header-wrap {
    margin-top: 7em;
    margin-left: 8.5vw;
  }
}

@media screen and (max-width: 400px) {  

}

@media screen and (max-width: 350px) {

}