/**** 
HEADER section
****/

#header {
  height: 900px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: -webkit-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -moz-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -o-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -ms-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: linear-gradient(0deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  transition: all 0.25s ease;
}

#header .header-wrap {
  width: 100%;
  margin-left: 20vw;
  margin-right: 9vw;
}

/**** 
PORTFOLIO // INVESTMENT section
****/

#portfolio {
  margin: 5vw 0;
  overflow: hidden;
}

#portfolio #investment.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4em;
}

#portfolio #investment .text-wrap {
  margin-right: 1em;
  margin-bottom: 4em;
  width: 70%;
}

#portfolio #investment .investments {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}

#portfolio #investment .company-card {
/*  width: calc(100% * (1/3) - 1em - 5px);*/
  width: 300px;
  margin-left: 1em;
  margin-bottom: 3em;
  background-color: #e8e8e8;
  border-left: 5px solid #0091c9;
  box-sizing: border-box;
}

#portfolio #investment .company-card:nth-child(1) {
  margin-left: 0;
}

#portfolio #investment .company-card img {
  width: calc((100% + 5px) * (2/3));
  margin: calc((100% + 5px) * .1) calc((100% + 5px) * .15) calc((100% + 5px) * .05);
}

#portfolio #investment .company-card p {
  margin: 0 30px 30px;
}


/**** 
PORTFOLIO // CASE STUDY section
****/

#portfolio #case-studies {
  margin-bottom: 4em;
}

#portfolio #case-studies .text-wrap:nth-child(1) {
  width: 35.5%;
}

#portfolio #case-studies .case-study {
  border-left: 5px solid #0091c9;
  margin-bottom: 5px;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 2em;
}

#portfolio #case-studies .case-study .text-wrap {
  width: 100%;
  padding: 3.333vw 3.333vw 1em 8.333vw;
  width: 35%;
}

#portfolio #case-studies .case-study .text-wrap .sub-heading {
  margin-bottom: 1em;
}

#portfolio #case-studies .case-study .text-wrap .body-copy {
  font-size: 1.125em;
  margin: 0 0 .5em;
}

#portfolio #case-studies .case-study ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125em;
  font-weight: 700;
}

#portfolio #case-studies .case-study-img {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 23.1%;
}

#portfolio #case-studies .case-study:nth-child(1) .case-study-img {
  background-image: url('../assets/portfolio_case-study_dynamo.jpg');
}

#portfolio #case-studies .case-study:nth-child(2) .case-study-img {
  background-image: url('../assets/portfolio_case-study_cbc.jpg');
}

#portfolio #case-studies .case-study:nth-child(3) .case-study-img {
  background-image: url('../assets/portfolio_case-study_metonic.jpg');
}



/****
MEDIA QUERIES
****/
@media screen and (max-width: 1800px) {
  #portfolio #investment .text-wrap {
    width: 50%;
  }
}

@media screen and (max-width: 1600px) {
  #portfolio #investment .text-wrap {
    width: 44%;
  }
}

@media screen and (max-width: 1500px) {
  #portfolio #investment .company-card {
    width: 240px;
  }
  
  #portfolio #investment .company-card img {
    width: calc((100% + 5px) * .8);
    margin: calc((100% + 5px) * .1) calc((100% + 5px) * .1) calc((100% + 5px) * .05);
  }
}

@media screen and (max-width: 1200px) {
  #portfolio #investment.container {
    flex-flow: column nowrap;
  }
  
  #portfolio #investment .text-wrap {
    width: 80%;
    margin-bottom: 2em;
  }
  
  #portfolio #investment .company-card {
    width: 250px;
    margin-bottom: 2em;
  }
  
  #portfolio #investment .company-card:nth-child(1) {
    margin-left: 51px;
  }
  
  #portfolio #investment .company-card img {
    margin: calc((100% + 5px) * .1);
  }
  
  #portfolio #investment .company-card p {
    display: none;
  }
  
  #portfolio #case-studies .text-wrap:nth-child(1) {
    width: 80%;
  }
  
  #portfolio #case-studies .case-study .text-wrap {
    padding: 1em 1em 1em 3em;
  }
  
  #portfolio #case-studies .case-study-img {
    padding-top: 25.1%;
  }
  
  #portfolio #case-studies .case-study {
    flex-flow: column wrap;
    justify-content: flex-end;
  }
  
  #portfolio #case-studies .case-study-img {
    order: 0;
    width: 100%;
    padding-top: 35.8%;
    margin-bottom: 1em;
  }
  
  #portfolio #case-studies .case-study .text-wrap {
    order: 1;
    width: 100%;
    padding: 1em 1em 1em 3em;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1100px) {
  #portfolio #investment .company-card:nth-child(1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  #header {
    height: 800px;
  }
  
  #header .header-wrap {
    margin-top: 6em;
    margin-left: 8.5vw;
    margin-right: 2em;
    margin-bottom: 4em;
  }
  
  #portfolio #investment .company-card {
    width: 200px;
  }
}

@media screen and (max-width: 715px) {
  .header-title {
    font-size: 3em;
  }
  
  .sub-heading {
    font-size: 1.2em;
  }
  
  #portfolio #investment .company-card {
    width: calc(100% * (1/2) - 0.2em - 5px);
  }
  
  #portfolio #investment .company-card:nth-child(3) {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  #header {
    height: auto;
  }
  
  #header .header-wrap {
    margin-top: 7em;
    margin-left: 8.5vw;
  }
  
  #header .header-title {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  
  #portfolio #investment .company-card {
    margin-bottom: 1em;
  }
  
  #portfolio #case-studies .case-study .text-wrap {
    padding: 1em;
  }
}

@media screen and (max-width: 400px) {  

}

@media screen and (max-width: 350px) {
  #header .header-title {
    font-size: 2em;
  }
}