/**** 
HEADER section
****/

#header {
  height: 600px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: -webkit-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -moz-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -o-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: -ms-linear-gradient(90deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  background: linear-gradient(0deg, rgba(232, 232, 232, 0) 0%, rgba(232, 232, 232, 0.901961) 75%, #e8e8e8 100%);
  transition: all 0.25s ease;
}

#header .header-wrap {
  width: 100%;
  margin-left: 20vw;
  margin-right: 9vw;
}

/**** 
SERVICES section
****/

#services {
  margin: 6em 0 2em;
  overflow: hidden;
}

#services .category {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 14em;
}

#services .text-wrap {
  margin-right: 3em;
  margin-bottom: 48px;
  width: 40%;
}

#services .sub-heading {
  font-size: 1.1em;
}

#services .text-wrap ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

#services .text-wrap ul li {
  list-style: none;
  padding: 0;
  margin: .25em 2% .25em 0;
  width: 48%;
}

#services .funky-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

#services .funky-grid .funky-item {
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 0;
  padding-top: 25%;
}

#services #strategy .funky-grid {
  justify-content: flex-end;
}

#services #strategy .funky-item:nth-child(1) {
  background-image: url('../assets/services_img1.jpg');
  width: 50%;
  padding-top: calc((310/950)*100%);
}

#services #strategy .funky-item:nth-child(2) {
  background-image: url('../assets/services_img2.jpg');
  width: 50%;
  padding-top: calc((310/950)*100%);
}

#services #strategy .funky-item:nth-child(3) {
  background-image: url('../assets/services_img3.png');
  width: 100%;
  padding-top: calc((440/950)*100%);
}

#services #brand .funky-item {
  height: 200px;
}

#services #brand .funky-item:nth-child(1) {
  background-image: url('../assets/services_sightglass.jpg');
  width: 50%;
  max-width: 375px;
  margin-right: 4em;
}

#services #brand .funky-item:nth-child(2) {
  background-image: url('../assets/services_populus.png');
  width: 50%;
  max-width: 345px;
  margin-left: 4em;
}

#services #brand .funky-item:nth-child(3) {
  background-image: url('../assets/services_colors.jpg');
  width: 50%;
  max-width: 375px;
  padding-top: 26%;
  height: auto;
}

#services #creative .funky-grid {
  justify-content: space-between;
}

#services #creative .funky-item:nth-child(1) {
/*  position: relative;*/
  background: none;
  width: 50%;
  padding: 0 45px 50px;
  height: auto;
}

#services #creative .funky-item:nth-child(2) {
  background-image: url('../assets/services_chart.jpg');
  width: 50%;
  max-width: 375px;
  padding-top: 26%;
}

#services #creative .funky-item:nth-child(3) {
  width: 100%;
  height: auto;
  padding: 50px 0 0 50px;
  background: none;
}

#services .slider-desktop {
  margin-top: 50px;
}

#services .slider-mobile {
  display: none;
}



.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed,
.embed-container video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




/****
MEDIA QUERIES
****/

@media screen and (max-width: 1500px) {
  #services #creative .funky-grid {
    justify-content: space-around;
  }
  
  #services #creative .funky-item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1350px) {
  #header .header-wrap {
    padding-right: 1em;
  }
}

@media screen and (max-width: 1200px) {
  #services .text-wrap {
    margin-right: 2em;
    margin-bottom: 4em;
    width: 65%;
  }
}

@media screen and (max-width: 900px) {
  #header {
    height: 800px;
  }
  
  #header .header-wrap {
    margin-top: 6em;
    margin-left: 8.5vw;
    margin-right: 2em;
    margin-bottom: 4em;
  }
  
  #services .category {
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5em;
  }
  
  #services .category-img {
    order: 0;
    width: 100%;
    padding-top: 50%;
    margin-bottom: 1em;
  }
  
  #services .text-wrap {
    order: 1;
    width: 92%;
    margin-bottom: 2em;
    margin-right: 1em;
  }
  
  #services #brand .funky-grid {
    justify-content: space-between;
  }
  
  #services #brand .funky-item {
    height: auto;
  }
  
  #services #brand .funky-item:nth-child(1) {
    width: 48%;
    margin: 0;
  }
  
  #services #brand .funky-item:nth-child(2) {
    width: 44%;
    margin: 0;
    padding-top: 46%;
  }
  
  #services #brand .funky-item:nth-child(3) {
    width: 100%;
  }
  
  #services #creative .funky-item:nth-child(1) {
    display: none;
  }
  
  #services #creative .funky-item:nth-child(2) {
    display: none;
  }
  
  #services #creative .funky-item:nth-child(3) {
    width: 100%;
    padding-left: 0;
  }
  
  #services .slider-mobile {
    display: block;
    width: 100%;
  }
  
  #services .slider-desktop {
    display: none;
  }
}

@media screen and (max-width: 715px) {
  #header {
    height: 950px;
  }
  
  #header .header-wrap {
    margin-top: 13em;
  }
}

@media screen and (max-width: 600px) {
  #header {
    height: auto;
  }
  
  #header .header-wrap {
    margin-top: 7em;
    margin-left: 8.5vw;
    padding-right: 0;
  }
  
  #services .sub-heading {
    font-size: .9em;
  }
  
  #services .text-wrap ul li {
    width: 98%;
  }
}

@media screen and (max-width: 400px) {  

}

@media screen and (max-width: 350px) {

}